doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portfolio Admin
    link(rel='stylesheet', href='/style.css') 
  body
    nav
      ul
        li: a(href="/admin/index") Admin Home
        //- Added link to the new portfolio page
        li: a(href="/admin/portfolio") View Portfolio 
        li: a(href="/admin/projects/new") Add Project
        li: a(href="/admin/skills/new") Add Skill
        li: a(href="https://drive.google.com/uc?export=download&id=1kdR6GGcgv0F30bX0yks246zc91Oid6Ul", target="_blank") Download Resume
        
    div.container 
      block content